In [2]:
import pandas as pd
import numpy as np

# Data Preparation and Cleaning

In [39]:
patient = pd.read_csv(r"C:\Users\9235v\Downloads\Synthea2.0\patients.csv")
disease = pd.read_csv(r"C:\Users\9235v\Downloads\Synthea2.0\allergies.csv")
medicine = pd.read_csv(r"C:\Users\9235v\Downloads\Synthea2.0\medications.csv")
tests = pd.read_csv(r"C:\Users\9235v\Downloads\Synthea2.0\imaging_studies.csv")
encounter = pd.read_csv(r"C:\Users\9235v\Downloads\Synthea2.0\encounters.csv")

In [4]:
# Getting some idea on patient datasets
patient.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1183 entries, 0 to 1182
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   1183 non-null   object
 1   BIRTHDATE            1183 non-null   object
 2   DEATHDATE            183 non-null    object
 3   SSN                  1183 non-null   object
 4   DRIVERS              972 non-null    object
 5   PASSPORT             914 non-null    object
 6   PREFIX               948 non-null    object
 7   FIRST                1183 non-null   object
 8   LAST                 1183 non-null   object
 9   SUFFIX               13 non-null     object
 10  MAIDEN               308 non-null    object
 11  MARITAL              801 non-null    object
 12  RACE                 1183 non-null   object
 13  ETHNICITY            1183 non-null   object
 14  GENDER               1183 non-null   object
 15  BIRTHPLACE           1183 non-null   object
 16  ADDRESS              1183 non-null   object
 17  CITY                 1183 non-null   object
 18  STATE                1183 non-null   object
 19  COUNTY               1183 non-null   object
 20  FIPS                 864 non-null    float64
 21  ZIP                  1183 non-null   int64
 22  LAT                  1183 non-null   float64
 23  LON                  1183 non-null   float64
 24  HEALTHCARE_EXPENSES  1183 non-null   float64
 25  HEALTHCARE_COVERAGE  1183 non-null   float64
 26  INCOME               1183 non-null   int64
dtypes: float64(5), int64(2), object(20)
memory usage: 249.7+ KB

In [5]:
# Converting BIRTHDATE column datatype
patient['BIRTHDATE'] = pd.to_datetime(patient['BIRTHDATE'])

In [6]:
# Drpping some unnecessary column from patient table
patient_col_drop = [ 'DEATHDATE', 'SSN', 'DRIVERS', 'PASSPORT', 'PREFIX',
        'SUFFIX', 'MAIDEN', 'MARITAL', 'RACE', 'ETHNICITY', 'BIRTHPLACE', 'ADDRESS', 'CITY', 'FIPS',
       'ZIP', 'LAT', 'LON']

In [7]:
patient = patient.drop(patient_col_drop, axis=1)

In [8]:
# Checking null values
patient.isnull().sum()

Id                     0
BIRTHDATE              0
FIRST                  0
LAST                   0
GENDER                 0
STATE                  0
COUNTY                 0
HEALTHCARE_EXPENSES    0
HEALTHCARE_COVERAGE    0
INCOME                 0
dtype: int64

In [9]:
patient.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1183 entries, 0 to 1182
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   1183 non-null   object
 1   BIRTHDATE            1183 non-null   datetime64[ns]
 2   FIRST                1183 non-null   object
 3   LAST                 1183 non-null   object
 4   GENDER               1183 non-null   object
 5   STATE                1183 non-null   object
 6   COUNTY               1183 non-null   object
 7   HEALTHCARE_EXPENSES  1183 non-null   float64
 8   HEALTHCARE_COVERAGE  1183 non-null   float64
 9   INCOME               1183 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(1), object(6)
memory usage: 92.6+ KB

In [10]:
# Drpping some unnecessary column from disease table
disease_col_drop = ['START', 'STOP', 'ENCOUNTER', 'CODE', 'SYSTEM',
       'DESCRIPTION', 'REACTION1', 'REACTION2', 'DESCRIPTION2', 'SEVERITY2']

In [11]:
disease = disease.drop(disease_col_drop, axis=1)

In [12]:
# Getting some idea on disease datasets
disease.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 831 entries, 0 to 830
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PATIENT       831 non-null    object
 1   TYPE          831 non-null    object
 2   CATEGORY      831 non-null    object
 3   DESCRIPTION1  413 non-null    object
 4   SEVERITY1     413 non-null    object
dtypes: object(5)
memory usage: 32.6+ KB

In [13]:
# Checking null values
disease.isnull().sum()

PATIENT           0
TYPE              0
CATEGORY          0
DESCRIPTION1    418
SEVERITY1       418
dtype: int64

In [14]:
# Checking value in the particular column
disease['SEVERITY1'].value_counts()

SEVERITY1
MODERATE    240
MILD        106
SEVERE       67
Name: count, dtype: int64

In [15]:
# Filling null value with highest frequency value
disease['DESCRIPTION1'] = disease['DESCRIPTION1'].fillna(disease['DESCRIPTION1'].mode()[0])

In [16]:
# Filling null value with highest frequency value
disease['SEVERITY1'] = disease['SEVERITY1'].fillna(disease['SEVERITY1'].mode()[0])

In [17]:
disease.isnull().sum()

PATIENT         0
TYPE            0
CATEGORY        0
DESCRIPTION1    0
SEVERITY1       0
dtype: int64

In [18]:
# Getting some idea on medicine datasets
medicine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69581 entries, 0 to 69580
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   START              69581 non-null  object
 1   STOP               66859 non-null  object
 2   PATIENT            69581 non-null  object
 3   PAYER              69581 non-null  object
 4   ENCOUNTER          69581 non-null  object
 5   CODE               69581 non-null  int64
 6   DESCRIPTION        69581 non-null  object
 7   BASE_COST          69581 non-null  float64
 8   PAYER_COVERAGE     69581 non-null  float64
 9   DISPENSES          69581 non-null  int64
 10  TOTALCOST          69581 non-null  float64
 11  REASONCODE         54523 non-null  float64
 12  REASONDESCRIPTION  54523 non-null  object
dtypes: float64(4), int64(2), object(7)
memory usage: 6.9+ MB

In [19]:
disease['CATEGORY'].value_counts()

CATEGORY
environment    497
food           233
medication     101
Name: count, dtype: int64

In [20]:
# Drpping some unnecessary column from medicine table
medicine_col_drop = ['START', 'STOP', 'PAYER', 'ENCOUNTER', 'CODE',
       'BASE_COST', 'PAYER_COVERAGE', 'DISPENSES', 'TOTALCOST', 'REASONCODE',
       'REASONDESCRIPTION']

In [21]:
medicine = medicine.drop(medicine_col_drop, axis=1)

In [22]:
# Checking null values
medicine.isnull().sum()

PATIENT        0
DESCRIPTION    0
dtype: int64

In [23]:
# Drpping some unnecessary column from test table
tests_col_drop = ['Id', 'ENCOUNTER', 'SERIES_UID', 'BODYSITE_CODE',
       'BODYSITE_DESCRIPTION', 'MODALITY_CODE', 'MODALITY_DESCRIPTION',
       'INSTANCE_UID', 'SOP_CODE', 'PROCEDURE_CODE']

In [24]:
tests = tests.drop(tests_col_drop, axis=1)

In [25]:
# Getting some idea on tests datasets
tests.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88053 entries, 0 to 88052
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   DATE             88053 non-null  object
 1   PATIENT          88053 non-null  object
 2   SOP_DESCRIPTION  88053 non-null  object
dtypes: object(3)
memory usage: 2.0+ MB

In [26]:
# Checking null values
tests.isnull().sum()

DATE               0
PATIENT            0
SOP_DESCRIPTION    0
dtype: int64

In [27]:
# Converting DATE column datatype
tests['DATE'] = pd.to_datetime(tests['DATE'])

In [28]:
# Extract date component
tests['Test_date'] = tests['DATE'].dt.date

In [29]:
tests = tests.drop('DATE', axis=1)

In [30]:
tests.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88053 entries, 0 to 88052
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PATIENT          88053 non-null  object
 1   SOP_DESCRIPTION  88053 non-null  object
 2   Test_date        88053 non-null  object
dtypes: object(3)
memory usage: 2.0+ MB

In [40]:
# Getting some idea on encounter
encounter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69121 entries, 0 to 69120
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   69121 non-null  object
 1   START                69121 non-null  object
 2   STOP                 69121 non-null  object
 3   PATIENT              69121 non-null  object
 4   ORGANIZATION         69121 non-null  object
 5   PROVIDER             69121 non-null  object
 6   PAYER                69121 non-null  object
 7   ENCOUNTERCLASS       69121 non-null  object
 8   CODE                 69121 non-null  int64
 9   DESCRIPTION          69121 non-null  object
 10  BASE_ENCOUNTER_COST  69121 non-null  float64
 11  TOTAL_CLAIM_COST     69121 non-null  float64
 12  PAYER_COVERAGE       69121 non-null  float64
 13  REASONCODE           20035 non-null  float64
 14  REASONDESCRIPTION    20035 non-null  object
dtypes: float64(4), int64(1), object(10)
memory usage: 7.9+ MB

In [51]:
# Checking null values
encounter.isnull().sum()

PATIENT              0
ENCOUNTERCLASS       0
DESCRIPTION          0
REASONDESCRIPTION    0
dtype: int64

In [42]:
encounter.columns

Index(['Id', 'START', 'STOP', 'PATIENT', 'ORGANIZATION', 'PROVIDER', 'PAYER',
       'ENCOUNTERCLASS', 'CODE', 'DESCRIPTION', 'BASE_ENCOUNTER_COST',
       'TOTAL_CLAIM_COST', 'PAYER_COVERAGE', 'REASONCODE',
       'REASONDESCRIPTION'],
      dtype='object')

In [46]:
# dropping some unnecessary column from encounter
encounter_col_drop = ['Id', 'START', 'STOP', 'ORGANIZATION', 'PROVIDER', 'PAYER',
        'CODE', 'BASE_ENCOUNTER_COST',
       'TOTAL_CLAIM_COST', 'PAYER_COVERAGE', 'REASONCODE',
       ]

In [47]:
encounter = encounter.drop(encounter_col_drop, axis=1)

In [49]:
# Filling null value with highest frequency value
encounter['REASONDESCRIPTION'] = encounter['REASONDESCRIPTION'].fillna(encounter['REASONDESCRIPTION'].mode()[0])

In [53]:
# Replacing unnecessary things from encounter's table
encounter['DESCRIPTION'] = encounter['DESCRIPTION'].str.replace('(','')
encounter['DESCRIPTION'] = encounter['DESCRIPTION'].str.replace(')','')
encounter['DESCRIPTION'] = encounter['DESCRIPTION'].str.replace('procedure','')

In [55]:
# Rename a PATIENT column
encounter.rename(columns={'PATIENT': 'PATIENT_iD'}, inplace=True)

In [56]:
encounter

,PATIENT_iD,ENCOUNTERCLASS,DESCRIPTION,REASONDESCRIPTION
0,6132a397-93f1-3f41-a63b-2c86042ae94c,wellness,Well child visit,Normal pregnancy
1,6132a397-93f1-3f41-a63b-2c86042ae94c,wellness,Well child visit,Normal pregnancy
2,6132a397-93f1-3f41-a63b-2c86042ae94c,emergency,Emergency room admission,Normal pregnancy
3,6132a397-93f1-3f41-a63b-2c86042ae94c,wellness,Well child visit,Normal pregnancy
4,6132a397-93f1-3f41-a63b-2c86042ae94c,ambulatory,Encounter for 'check-up',Fracture of forearm
...,...,...,...,...
69116,2e4dd3bd-639c-3906-3054-fb02775adba8,urgentcare,Urgent care clinic,Normal pregnancy
69117,2e4dd3bd-639c-3906-3054-fb02775adba8,urgentcare,Urgent care clinic,Normal pregnancy
69118,2e4dd3bd-639c-3906-3054-fb02775adba8,urgentcare,Urgent care clinic,Normal pregnancy
69119,2e4dd3bd-639c-3906-3054-fb02775adba8,outpatient,Encounter for check up,Normal pregnancy
69120,2e4dd3bd-639c-3906-3054-fb02775adba8,urgentcare,Urgent care clinic,Normal pregnancy

In [57]:
encounter.isnull().sum()

PATIENT_iD           0
ENCOUNTERCLASS       0
DESCRIPTION          0
REASONDESCRIPTION    0
dtype: int64

In [88]:
# Convert disease to excel
disease.to_excel('Diseases.xlsx', index=False)

In [35]:
# Convert tests to excel
tests.to_excel('TestsN.xlsx', index=False)

In [62]:
# Convert patient to excel
patient.to_excel('Patients.xlsx', index=False)

In [63]:
# Convert medicine to excel
medicine.to_excel('Medication.xlsx', index=False)

In [58]:
# Convert encounter to excel
encounter.to_excel('Encounter.xlsx', index=False)